.block {
    border: 2px solid #326C64;
    padding: 20px;
    border-radius: 20px;
}

.flexBlock {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    margin: 12px;
}

.flexBlock a {
    text-decoration: none;
    font-weight: bold;
}

.flexBlock p a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.img {
    width: 150px;
}

.visible {
    color: red;
    font-weight: bold;
}

.hidden {
    display: none;
}

.green {
    color: #43c6cf;
}

.disabled {
    pointer-events: none;
    cursor: default;
    color: gray;
}