.block {
    border: 2px solid #326C64;
    padding: 20px;
    border-radius: 20px;
}

.flexBlock {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    margin: 12px;
}

.flexBlock a {
    color: #43c6cf;
    text-decoration: none;
    font-weight: bold;
}

.flexBlock p a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.img {
    width: 150px;
}