.dropdown:hover + .dropdown_items {
    background: #FFF;
    display: block;
    position: absolute;
}

.dropdown_items:hover{
    display: block;
    background: #FFF;
    position: absolute;
}

.dropdown_items {
    display: none;
}