.dropdown:hover + .dropdown_items {
    /* background when sub nav menus are opened */
    background: lightgray;
    display: block;
    position: absolute;
}

.dropdown_items:hover{
    display: block;
    background: lightgray;
    position: absolute;
}

.dropdown_items {
    display: none;
}