/* Default styles */
.button {
    background-color: #525252;
    color: #FFFFFF;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    font-size: 14px;
    cursor:pointer;
}

.button:active {
    background-color: #2e2e2e;
}