/**
    TODO
        Text size
        Text color
        Button height
        Button background color
        Button default width -- will be changed if user inputs one
*/

button {
    background-color: #525252;
    color: #FFFFFF;
    padding: 12px 17px;
    border: none;
    font-size: 14px;
}