/* *{
    padding:0;
    margin:0;
} */

/* moved to global and renamed */
/* .tournament-about-title-section{
    background-color: #D9D9D9;
    padding-left: 146px;
    max-height: 432px;
    height: 50vh;
    display: flex;
    align-items: flex-end;
}

.tournament-about-title{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    color: #616161;
    line-height: .8em;
} */