.university {
    margin-bottom: 2vh;
}

.login_section {
    display: flex;
    flex-direction: column;
    width: calc(60vw);
    padding-top: 78px;
    padding-bottom: 156px;
    padding-left: 156px;
}

.form {
    max-width: 610px;
    text-align: center;
}

.title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 147.69%;

    display: flex;
    align-items: center;
}

.inputText {
    max-width: 576px;
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #858C94;
    border-radius: 8px;
}

.h4 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    align-items: center;

    opacity: 0.5;
}

.link {
    text-decoration-line: underline;
}