.background {
    background-image: url("../../../assets/images/aardvarkAboutBackground.png");
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 16px;
}

.university {
    margin-bottom: 2vh;
}