.background {
    background-image: url("../../../../assets/images/aardvarkAboutBackground.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.icons {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
}