.timer {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 100;
    font-size: 60px;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    margin: 3vh 19vw;
    width: 50vw;
}

@media screen and (max-width: 916px) {
    .timer {
        font-size: 36px;
    }
    
    .grid {
        width: 88vw;
        margin: 3vh 0;
    }
}