.timer {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 100;
    font-size: 60px;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    margin-left: 30vw;
    margin-right: 30vw;
}