h1 {
    color: #525252;
    font-size: 100px;
    margin-bottom: 0;
}

.flex {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin-bottom: 2vh;
}

.select {
    width: 180px;
}