* {
    margin:0;
    padding:0;
}

.h1 {
    margin:0;
}

.home_title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    color: white;
}

.home_title_section {
    height:calc(100vh - 88px);
    display: flex;
    text-align: center;
    flex-direction:column;
    justify-content: center;
    
}

.universities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 6vh;
    column-gap: 32px;
}

.team_playing {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 12px;
}

.left_text {
    text-align: left;
}

.uni_img {
    width: 80px;
    height: auto;
}