* {
    margin:0;
    padding:0;
}

.h1 {
    margin:0;
}

.home_title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    color: #616161;
}

.home_title_section {
    height:calc(100vh - 88px);
    background-color: #D9D9D9;
    display: flex;
    text-align: center;
    flex-direction:column;
    justify-content: center;
    
}

.countdown {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 147.69%;
}

.third_section {
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.fourth_section {
    padding: auto;
    align-content: center;
}

.teams_playing {
    display: flex;
    flex-wrap: wrap;
    max-width: 1147px;
    margin:auto;
}

.team_playing {
    display: flex;
    flex: 1 0 33%;
    align-items: center;
    width: 263px;
    margin-bottom:40px;
}

.small_text {
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #373F41;
    max-width: 166px;
}