.background {
    background-image: url("../../../assets/images/aardvarkAboutBackground.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.grid_list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}