nav {
  overflow: hidden;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 6vw;
}

nav a {
  text-decoration: none;
  color: white;
}

.left {
  font-size: 24px;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  margin-right: 6vw;
}

.links a {
  padding: 14px;
  font-size: 15px;
  font: Arial;
}

.links button {
  font-size: 15px;
  font: Arial;
}

td {
  padding: 14px;
}

th {
  padding: 0 14px;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-size: 15px;
}

.dropcontent {
  display: none;
  position: absolute;
  background-color: black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 2);
  z-index: 1;
}

.dropdown:hover .dropcontent {
  display: flex;
  flex-direction: column;
}

.dropdown:hover, .link:hover {
  background-color: #2E8D93;
}

.dropcontent td:hover {
  background-color: #2E8D93;
}

@media screen and (max-width: 916px) {
  nav {
    flex-direction: column;
  }

  .left {
    font-size: 36px;
    margin-bottom: 2vh;
    width: 100vw;
    text-align: center;
  }

  .right {
    flex-direction: column-reverse;
    width: 100vw;
  }

  .links {
    flex-direction: column;
    margin-right: 0;
    width: 100vw;
  }

  nav a {
    text-align: center;
  }

  .dropdown .dropcontent {
    width: 100vw;
    position: relative;
  }

  .profile {
    margin-bottom: 2vh;
  }

  th {
    padding: 14px;
  }
}