ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  display: flex; 
  align-items: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: #373F41;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #eee;
}

nav {
  height: 88px;
  display: flex; 
  align-items: center;
  justify-content: end;
}