.footer {
    display: flex;
    justify-content: space-between;
    padding-top:52px;
    padding-bottom:52px;
    padding-left: 6vw;
    padding-right: 6vw;
    background-color: #2A4C47;
    color: white;
}

.footerList {
    display: flex;
    flex-direction: column;
    padding-bottom:10px;
}

.footerListItem {
    padding-bottom:10px;
}

.footerListItem a:visited {
    color: lightskyblue;
}

.footerListHeader {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    padding-bottom:10px;
}

.footerTitle {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 0.2px;
    display: flex;
    align-items: center;
}

.subcontent {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
}

.footerLeftBlock {
    display: flex;
    flex-direction: column;
}

.hr {
    border-top: 1px solid #DADFD0;
    border-bottom: 0px;
}