.background {
    background-image: url("../../../assets/images/boardGameBackground.png");
}

img {
    width: 88vw;
}

.green_box_role {
    border: 2px solid #326C64;
    padding: 30px 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 36px;
    border-radius: 20px;
}

.role {
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #43c6cf;
    text-align: left;
    flex: 1;
}

.left_text {
    text-align: left;
    flex: 3;
}

@media screen and (max-width: 600px) {
    .green_box_role {
        flex-direction: column;
        align-items: center;
        column-gap: 0;
        row-gap: 30px;
    }
}

@media screen and (max-width: 600px) {
    .green_box_role {
        padding: 30px 30px;
    }
}